[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-simpleStorage/lib/forge-std"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-simpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
