[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-simpleStorage/lib/forge-std"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-simpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-FundMe/lib/forge-std"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-FundMe/lib/chainlink-brownie-contracts"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-FundMe/lib/foundry-devops"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/forge-std"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/chainlink-brownie-contracts"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/solmate"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/foundry-devops"]
	path = BlockChain Engineering/Foundry Fundamentals/Foundry-Smartcontract-Lottery/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-ERC20-Token/lib/forge-std"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-ERC20-Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-ERC20-Token/lib/foundry-devops"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-ERC20-Token/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-ERC20-Token/lib/openzeppelin-contracts"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-ERC20-Token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-NFT-Token/lib/forge-std"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-NFT-Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-NFT-Token/lib/foundry-devops"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-NFT-Token/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-NFT-Token/lib/openzeppelin-contracts"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-NFT-Token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/forge-std"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/foundry-devops"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/chainlink-brownie-contracts"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/openzeppelin-contracts"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-DeFi-Stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/forge-std"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/foundry-devops"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/chainlink-brownie-contracts"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/openzeppelin-contracts"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Rebase-Token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Cct-Token/lib/ccip"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Cct-Token/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Cct-Token/lib/forge-std"]
	path = BlockChain Engineering/Advanced Foundry/Foundry-Ccip-Cct-Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
